{#
  Template variables:
  - urls: array of absolute URLs
  - unique_id: id for the element
#}

<div class="volxel-wrapper">
{% if urls|length == 1 %}
  <volxel-3d-viewer id="{{ unique_id }}" data-zip-url="{{ urls[0]|e('html_attr') }}"></volxel-3d-viewer>
{% else %}
  <volxel-3d-viewer id="{{ unique_id }}" data-urls="{{ urls|json_encode|e('html_attr') }}"></volxel-3d-viewer>
{% endif %}
</div>
